<clr-main-container>
    <clr-header>
    <div class="branding">
      <a routerLink="/home" routerLinkActive="active" class="nav-link nav-text">
           <!-- <clr-icon shape="logo_icon"></clr-icon>-->
            <span class="title">Cinema Independente</span>
        </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a routerLink="/cinemas" routerLinkActive="active" class="nav-link nav-text">Cinemas</a>
      <a routerLink="/usuarios" routerLinkActive="active" class="nav-link nav-text">Usuarios</a>
      <a routerLink="/salas" routerLinkActive="active" class="nav-link nav-text">Salas</a>           
    </div>
    <div class="header-actions">
        <a href="..." class="nav-link nav-text">
            Log Out
        </a>
    </div>
  </clr-header>
  <div class="content-container">
      <main class="content-area">
        <router-outlet></router-outlet>
      </main>
  </div>
</clr-main-container>